* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: sans-serif;
    color: black;

    background-color: white;
}

.outer-container {
    padding: 10px;
}

body {
    background-color: #222222;
    overflow: hidden;
}

p {
    font-size: 1.3 em;
}

button {
    outline: none;
    border: none;
    font-size: 1.3 em;
    color: magenta;
}

h1, h2 {
    color: darkblue;
    text-align: center;
}

li {
    list-style: none;
}


/* outer container section */

.outer-container {
    padding: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
}


/* top bar */

.top-bar p {
    float: right;
}

/* inner container */

.inner-container {
    background-color: white;
    height: 100%;
    background: white;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* header */

.quiz-intro, main {
    margin-bottom: 30vh;
    margin-left: 10%;
    margin-right: 10%;
    background-color: blueviolet;
    display: none;
}

.quiz-intro p {
    text-align: center;
}

.quiz-intro button {
    display: block;
    margin: 0 auto;
}

/* main */

main {
    display: block;
}

.question-screens {
    display: none;
}

.quiz-finish {
    display: none;
}

.high-score {
    display: block;
}

.high-score ol {
    overflow-y: scroll;
    max-height: 50vh;
}
